.post {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.image {
    width: 100%;
    max-height: 20rem;
    overflow: hidden;
}

.content {
    padding: 2vh;
}
  
.content h3 {
    margin: 1vh 0;
    font-size: x-large;
}

.content time {
    font-style: italic;
    color: rgba(0, 0, 0, 0.6);
}
