.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-image: linear-gradient(to right, darkblue, darkorchid);
    color: white;
}

.logo {
    font-size: 3rem;
}

.header ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: large;
    font-weight: bolder;
}