.notification {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: blue;
    padding: 0 4vh;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    height: 5rem;
    bottom: 0;
    width: 100%;
    left: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    z-index: 1;
}

.notification h2 {
    font-size: 2rem;
    margin: 0;
}
  
.notification p {
    margin: 0;
}

.success {
    background-color: green;
}
  
.error {
    background-color: red;
}
