.hero {
    border-bottom: 4px solid;
    border-image: linear-gradient(to right, darkblue, darkorchid) 1;
    width: 100%;
    text-align: center;
    padding: 1vh 1vw;
    display: flex;
    justify-content: center;
}

.hero article {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1vh;
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
}
  
.hero p {
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.7);
    width: 90%;
    max-width: 40rem;
    margin: auto;
}

.gradient {
    background: -webkit-linear-gradient(blue, darkorchid);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.image {
    width: 200px;
    height: 200px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    overflow: hidden;
}
  
.image img {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 900px) {
    .image {
        width: 150px;
        height: 150px;
    }

    .hero h1 {
        font-size: 2.7rem;
    }
      
    .hero p {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 800px) {
    .hero {
        flex-direction: column;
    }
    .image {
        width: 200px;
        height: 200px;
    }
}